@model StudentskaBanka.Models.Kredit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kredit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ukupnoUzeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ukupnoUzeto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ukupnoZaVratiti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ukupnoZaVratiti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kamata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kamata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.racunId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.racunId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
