@model StudentskaBanka.Models.Korisnik

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Korisnik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jmbg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jmbg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.brTelefona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.brTelefona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.password)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Uredi profil", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Otvori račun", "Details", "Racuns") |
    @Html.ActionLink("Nova transakcija", "Create", "Transakcijas"))

</p>
